@import "custom-bootstrap";
$custom-breakpoint-img-list:(
sm:652px,
md:800px,
lg:1040px,
xl:1280px,
);

.custom-horizontal-list {
       display: flex;
       flex-direction: column; /* Disposizione orizzontale */
       list-style: none; /* Rimuove i punti elenco */
       flex-wrap: wrap;
       align-items: stretch; /* Allinea gli elementi all'inizio */
       max-width: 100%; /* provare a ricopiare il fill dento la disposizione a colonna */
       padding: 0;






       li {
         display: flex;
         flex-direction: row;
         width: 100%;
         justify-content: space-between;
         article{
           display: flex;
           flex-direction: row;
           width: 100%;


         }
       }
       @media (max-width: 640px) {
         flex-direction: column;
         li {
           flex: 0 0 100%; // Mantiene un elemento per riga fino a sm
           max-width: 100%;
           flex-direction: row;
           margin: 10px ;
           article{
             flex: 0 0 100%; // Mantiene un elemento per riga fino a sm
             max-width: 100%;
             flex-direction: row;

            }
          }

       }

       @media (min-width: 640px) and (max-width: 800px) {
         flex-direction: row;
         li {
           flex: 0 0 50%; // Mantiene due elementi per riga tra sm e md
           max-width: 50%;
           flex-direction: column;
           article{
             flex: 0 0 50%; // Mantiene un elemento per riga fino a sm
             max-width: 50%;
             flex-direction: row;

           }
         }
       }
         @media (min-width: 800px) and (max-width: 1040px) {
            flex-direction: row;
            li {
              flex: 0 0 50%; // Mantiene due elementi per riga tra md e lg
              max-width: 50%;
              flex-direction: column;
              article{
                 flex: 0 0 100%; // Mantiene due elementi per riga tra md e lg
                 max-width: 100%;
                 flex-direction: column;

              }
            }
         }

       @media (min-width: 1040px) and (max-width: 1280px) {
                flex-direction: column;
                li {
                  flex: 0 0 100%; // Mantiene due elementi per riga tra md e lg
                  max-width: 100%;
                  flex-direction: row;
                  article{
                    flex: 0 0 100%; // Mantiene due elementi per riga tra md e lg
                    max-width: 100%;
                    flex-direction: row;
                    display: flex;

                  }
                }
       }

       @media (min-width: 1280px) {
                flex-direction: row;
              li {
                     flex: 0 0 50%; // Mantiene due elementi per riga dopo lg
                     max-width: 50%;
                     flex-direction: column;
                      article{
                        flex: 0 0 50%; // Mantiene due elementi per riga dopo lg
                        max-width: 50%;
                        flex-direction: column;
                        }
              }
       }
}
$custom-breakpoint-main-img:(
        sm:640px,
        md:800px,
        lg:1280px,
);
.custom-main-image-wrapper{
  @media (max-width: 40em) {
    width: 620px;
  }

  @media (min-width: 40em) and (max-width: 50em) {
    width: 865px;
  }

  @media (min-width: 50em) and (max-width: 80em) {
    width: 865px;
  }

  @media (min-width: 80em) {
    width: 622px;
  }

}
.custom-col{
  flex: 0 0 auto;
  width: 100%;

  @media (max-width: map-get($custom-breakpoint-main-img, sm)) {
    flex: 0 0 auto;
    width: 100%;





  }
  @media (min-width: map-get($custom-breakpoint-main-img, sm)) and (max-width: map-get($custom-breakpoint-main-img, md)) {
    flex: 0 0 auto;
    width: 50%;
  }
  @media (min-width: map-get($custom-breakpoint-main-img, md)) and (max-width: map-get($custom-breakpoint-main-img, lg)) {
    flex: 0 0 auto;
    width: 100%;

  }
  @media (min-width: map-get($custom-breakpoint-main-img, lg)) {
    flex: 0 0 auto;
    width: 50%;
  }


}
#main-img-complementary{
  display: none;
  @media (max-width: map-get($custom-breakpoint-main-img, sm)) {
    display: block;

  }
  @media (min-width: map-get($custom-breakpoint-main-img, sm)) and (max-width: map-get($custom-breakpoint-main-img, md)) {
    display: none;
  }
  @media (min-width: map-get($custom-breakpoint-main-img, md)) and (max-width: map-get($custom-breakpoint-main-img, lg)) {
    display: block;
  }
    @media (min-width: map-get($custom-breakpoint-main-img, lg)) {
        display: none;
    }
}
#main-img{
    display: block;
    @media (max-width: map-get($custom-breakpoint-main-img, sm)) {
        display: none;

    }
    @media (min-width: map-get($custom-breakpoint-main-img, sm)) and (max-width: map-get($custom-breakpoint-main-img, md)) {
        display: block;
    }
    @media (min-width: map-get($custom-breakpoint-main-img, md)) and (max-width: map-get($custom-breakpoint-main-img, lg)) {
        display: none;
    }
        @media (min-width: map-get($custom-breakpoint-main-img, lg)) {
            display: block;
        }
}


@media (min-width: 640px) {
  .custom-col-sm {
    flex: 1 0 0;
  }
  .custom-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .custom-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .custom-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .custom-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .custom-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .custom-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .custom-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .custom-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 800px) {
  .custom-col-md {
    flex: 1 0 0;
  }
  .custom-col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .custom-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .custom-col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .custom-col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .custom-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
    .custom-col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .custom-col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .custom-col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 1040px) {
    .custom-col-lg {
        flex: 1 0 0;
    }
    .custom-col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .custom-col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .custom-col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .custom-col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
  .custom-col-lg-6{
    flex: 0 0 auto;
    width: 50%;
  }
    .custom-col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .custom-col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .custom-col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .custom-col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .custom-col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .custom-col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .custom-col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

}
@media (min-width: 1280px) {
    .custom-col-xl {
        flex: 1 0 0;
    }
    .custom-col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .custom-col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .custom-col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .custom-col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
  .custom-col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
    .custom-col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .custom-col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .custom-col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .custom-col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .custom-col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .custom-col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.custom-numbered-list{
  list-style: none;
  counter-reset: steps;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;

    div{
      margin-left: 10px;
      width: 32px;
      height: 32px;
    }
    header{
      flex: 0 0 100%;
      overflow-wrap: break-word;

    }
  }
  @media (min-width: 640px) {
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 460px;

    li{
      flex: 1 1 auto;
      width: 50%;
      height: 20%;
      flex-direction: row;
      gap: 10px;


      div{
        width: 32px;
        height: 32px;
      }
      header{
        flex: 0 0 auto;
        width: 80%;
        overflow-wrap: break-word;

      }

    }
  }


}
.custom-number::before{
  -webkit-box-flex: 0;
  border-radius: 50%;

  counter-increment: steps;
  content: counter(steps);
  background-color: #005d9c;
  color: white;
  justify-content: center;
  max-width: 100%;
  width: 2rem;
  height: 2rem;

  font: normal 600 1.3125em / 1 "Noto Sans", Helvetica, sans-serif;
  align-items: center;

  display: flex;
  flex: 0 0 2rem;
  line-height: 2rem;
  margin-right: .625rem;
}
.landing-3-1{
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.landing-3-1-right{
  display: none;
  flex: auto;
  @media (min-width: 800px) {
    display: block;
    min-width: 300px;
    height: auto;
    max-width: 304.5px;
  }
}
.landing-3-1-left{
  display: flex;
  flex: 1 1 auto;
  @media (max-width: 800px) {
    max-width: 100%;
  }
  @media (min-width: 800px) {
    min-width: auto;
    height: auto;
  }
}
.img-wrapper{
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.photo-video-container{
  display: flex;
  width: 100%;
  flex-direction: column;


  margin: 10px 10px;
  @media (min-width: 800px) {
    flex-direction: row;
    .on-the-left{
      flex: 1 1 auto;

    }
    .on-the-right{
      min-width: 300px;
      height: auto;
      max-width: 304.5px;
      margin-left: 10px;

      img{
        min-width: 300px;
        max-width: 304.5px;

      }

    }

  }
}

.on-the-right{
  width: 100%;
  flex-direction: row;
}
.on-the-left{
  width: 100%;
  flex-direction: row;
}

#article-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (min-width: 640px) {
    flex-direction: row;
    li {
      flex-direction: row;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 1040px) {
    flex-direction: row;
    li {
      flex-direction: row;
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
    }

  }

}
.listed-article{
  display: flex;
  width: 100%;

  img{
    flex: 0 0 auto;
    width: 90px;
    height: 70px;
    margin-right: 10px;
  }
  p{
    flex: 1 1 auto;
    overflow-wrap: break-word;
  }
}
.list-news-void{
  display: flex;
  width: 100%;
  flex-direction: column;


  margin: 10px 10px;
  @media (min-width: 800px) {
    flex-direction: row;
    #list-news2{
      flex: 1 1 auto;
    }
    .on-the-right{
      min-width: 300px;
      height: auto;
      max-width: 304.5px;
      margin-left: 10px;

      img{
        min-width: 300px;
        max-width: 304.5px;

      }

    }

  }

}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1055; /* Sopra l'offcanvas */
  height: 64px; /* Altezza della navbar */
}

.offcanvas {
  position: fixed;
  top: 64px; /* Altezza della navbar */
  z-index: 1055; /* Sotto la navbar */
  height: calc(100vh - 64px); /* Altezza totale meno la navbar */
    overflow-y: auto; /* Scorrimento verticale */
}

.offcanvas.showing, .offcanvas.hiding, .offcanvas.show {
  top: 64px;

}

.offcanvas-backdrop {
  z-index: 1049; /* Sotto l'offcanvas */
}
#placeholder{
  height: 64px;

}
.container-xxl{
  max-width: 1300px;
}
.d-custom-lg-block{
    display: none;
    @media (min-width: 1040px) {
        display: block;
    }
}
.custom-d-none{
    display: none;
}
#navbar-wrapper{
  max-width: 95%;
}
.navbar{
  max-width: 100vw;
  padding: 0 1.28vw;

}
.d-custom-lg-none{
    @media (min-width: 1040px) {
        display: none;
    }
}
#median-bottom-navbar{
  height: 80px;

}
#bottom-navbar {
  height: 0;
  display: none;

  @media (min-width: 1040px) {
    display: flex;
    height: 3em;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  overflow: hidden;
  ul{
    li{
      a{
        padding: 0 1.28vw;
        font-size: .9375em;
      }
    }
  }
  @extend .d-custom-lg-block;
}
#median-bottom-navbar{
  display: none;
  @media(min-width: 1040px) {
    display: flex;
    height: auto;

  }
  height: 0;

}
#median-navbar{
  >*{
    display: none;
    @media(min-width: 1040px) {
      display: flex;

    }
  }
}
.main-news-article-list-wrapper{}
.main-list-images-wrapper{
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1rem;
}

.main-footer-item {
  border: 1px solid lightcoral;
  padding: 1.5rem 1rem;
  text-align: start;
  background-color: #f8f9fa;
}



@media (min-width: 800px) and (max-width: (1280px)) {
  .footer-list {
    grid-template-columns: 1fr 1fr;
    align-items: start;

  }

  .main-footer-item {

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
    }
    &:nth-child(5) {
      grid-column: 2;
      grid-row: 3;
    }
  }
}

// Schermi >= 1280px e < 1332px: Layout 4 colonne (1, 2, [3+4], 5)
@media (min-width: 1280px) and (max-width: 1332px) {
  .footer-list{
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
  }

  .main-footer-item {

    grid-column: auto;
    grid-row: auto;

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-child(3) {
      grid-column: 3;
      grid-row: 1;
    }

    &:nth-child(4) {
      grid-column: 3;
      grid-row: 2;
    }
    &:nth-child(5) {
      grid-column: 4;
      grid-row: 1;
    }
  }
}

@media (min-width: 1332px) {
  .footer-list {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .main-footer-item {
    grid-column: auto;
    grid-row: auto;
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
    }
    &:nth-child(5) {
      grid-column: 3;
      grid-row: 1;
    }
  }
}
.footer-item{
  width: 100%;

  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    button {
      display: none;
    }

  }
}
.footer-item-title{
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
  justify-content: space-between;
}
.visible-menu{
  @media (min-width: 800px) {
    display: block;
  }
}












/* @extend .d-flex si può fare */
/* TODO: capire come importare bootstrap */

