
$custom-breakpoint-img-list:(
sm:652px,
md:1040px,
lg:1280px,
);

.custom-horizontal-list {
       display: flex;
       flex-direction: column; /* Disposizione orizzontale */
       list-style: none; /* Rimuove i punti elenco */
       flex-wrap: wrap;



       li {

              max-width: 50%;
              flex-basis: 100%; // Ogni elemento <li> occupa il 50% della larghezza

       }
         @media (max-width: map-get($custom-breakpoint-img-list, sm)) {
                flex-direction: column;
                  li {
                        flex: 0 0 100%; // Mantiene un elemento per riga fino a sm
                        max-width: 100%;
                  }
         }

       @media (min-width: map-get($custom-breakpoint-img-list, sm)) and (max-width: map-get($custom-breakpoint-img-list, md)) {
              flex-direction: row;
              li {
                     flex: 0 0 50%; // Mantiene due elementi per riga tra sm e md
                     max-width: 50%;
                     flex-direction: row;
              }
       }
         @media (min-width: map-get($custom-breakpoint-img-list, md)) and (max-width: map-get($custom-breakpoint-img-list, lg)) {
                  flex-direction: column;
                  li {
                        flex: 0 0 50%; // Mantiene due elementi per riga tra md e lg
                        max-width: 50%;
                        flex-direction: row;
                  }
         }

       @media (min-width: map-get($custom-breakpoint-img-list, lg)) {
                flex-direction: row;
              li {
                     flex: 0 0 50%; // Mantiene due elementi per riga dopo lg
                     max-width: 50%;
                     flex-direction: row;
              }
       }
}

